/.cache
/.lsp-session-*
/README.el
/auto-save-list
/bookmarks
/custom*.el
/elpa
/eshell
/games
/nix/js-yarn-dependencies/node_modules
/projectile-bookmarks.eld
/projectile.cache
/result
/sangster.html
/straight
/transient
/url/cookies
*.elc
*~